.formatFix {
    clear: both;
}

.projects-container {
    margin: 10px;
    width: calc(100% - 20);
    /* TODO USE THE min-width property to set min-width to 600px + 4px + 6px + 20px */
    background: rgb(220, 220, 220);
    float: left;
    text-align: center;
}

.container {
    border: 2px solid black;
    width: 600px;
    height: auto;
    padding: 3px;
    /* margin: 10px auto 10px auto; */
    display: inline-block;
    margin: 10px;
    background-color: rgb(190, 190, 190);
}

.left {
    float: left;
}

.right {
    float: right;
}

.title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img {
    padding-left: 3px;
    width: 300px;
    height: 169px;
}

.descBox {
    padding-left: 4px;
    padding-right: 2px;
    width: 291px;
    /* THE WIDTH SHOULD ALWAYS BE .container width - .img width - .img padding - padding-left - padding right*/
    word-wrap: break-word;
}

.infoBox {
    float: right;
    padding-top: 68px;
    padding-right: 10px;
    line-height: 4px;
}