body {
  font-size: 18pt;
  text-align: center;
  background-color: rgb(225,225,225);
}

canvas {
    z-index: -100;
}

#mainTitle {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64pt;
    text-align: center;
}
